<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.entity.SysPermission">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="parent_id" property="parentId" />
        <result column="type" property="type" />
        <result column="icon" property="icon" />
        <result column="isdelete" property="isdelete" />
        <result column="title" property="title" />
        <result column="creat_time" property="creatTime" />
        <result column="update" property="update" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, url, parent_id AS parentId, type, icon, isdelete, title, creat_time AS creatTime, update
    </sql>

    <!--通过role 查 资源信息-->
    <select id="findPermissionsByRole" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM sys_permission p LEFT JOIN sys_role_permission s ON p.id = s.permission_id WHERE s.permission_id
        IN (SELECT sys_role.id FROM sys_role  WHERE sys_role.role = #{role} )
    </select>

</mapper>
